table{
    border-collapse:collapse;
    width: 100%;
}
thead{
    background: darkkhaki;
    color: black;
}
td, th{
    border:1px solid #ddd;
    text-align: left;
    padding: 8px;
}
tr{
    color: blueviolet;
}
tr:nth-child(even){
    background-color: #ddd;
    color: brown;
}

.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat(2,1fr); */
    grid-gap: 10px;
}


.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin: 20px auto;
    position: relative;
    border: 3px solid #FFF;
    border-radius: 50%;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    width: 6px;
    height: 24px;
    background: #FFF;
    transform: rotate(-45deg);
    position: absolute;
    bottom: -20px;
    left: 46px;
  }
  
  @keyframes animloader {
    0% {
      transform: translate(-10px, -10px);
    }
    25% {
      transform: translate(-10px, 10px);
    }
    50% {
      transform: translate(10px, 10px);
    }
    75% {
      transform: translate(10px, -10px);
    }
    100% {
      transform: translate(-10px, -10px);
    }
  }