.margin-bottom {
	margin-bottom: 21% !important;
}

.margin-bottom3 {
	margin-bottom: 43% !important;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 100%;
	border-radius: 5px;
}

.card-head {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 100%;
	border-radius: 2px;
}

.color-only {
	padding: 8px;
	align-items: center;
	background-color: #344b97;
}

.colors-only {
	padding: 2px;
	align-items: center;
	background-color: #344b97;
}

.slds-align-middle {
	vertical-align: middle;
	align-self: center;
}

.lgc-bg {
	background-color: rgb(164, 165, 160);
}

.lgc-bg-inverse {
	background-color: rgb(210, 212, 216);
}