.page{
    /* background: blueviolet; */
    background:#a2eeea;;
    border-radius: 10px;
}
.bar{
    background: #2735d6;;
    font-size: 24px;
    padding: 1rem 1rem 4rem;
    color: white;
    border-radius: 10px;
}
.search{
    background: #62c0d0;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -40px;
    border-radius: 10px;
    outline: none;
    box-shadow: none;
}
.font{
    font: message-box;
}